* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*
.box {
    width: 450px;
    /* width: 50%; */
/* width: 50vw; */
/* width: 50vw; */
/* height: 200px; */
/* height: auto; */
/* height: 50vh; */
/* background-color: rgb(7, 146, 211); */
/* border: 5px solid yellow; */
/* border-bottom: 5px solid yellow; */
/* padding: 32px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 8px; */

/* padding: 16px 0; */
/* padding: 8px 12px 12px 16px; */

/* margin: 16px; */
/* margin-top: 32px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 32px; */
/* margin: 16px 0; */
/* margin: 8px 12px 12px 16px; */
/* position: relative; */
/* position: absolute; */
/* position: fixed; */
/* position: sticky; */


/* } */

/*
.one {
    background-color: rgb(161, 13, 230) !important;
    z-index: 3;
}

/* .one {
    background-color: rgb(230, 143, 13);
} */

/*
.two {
    background-color: rgb(13, 230, 142);
    top: 50px;
    left: 50px;
    z-index: 2;
}

.three {
    background-color: rgb(230, 13, 13);
    top: 100px;
    left: 100px;
    z-index: 1;
}

*/
/*
.main {
    position: relative;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    margin: 100px auto;
}

.box {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
}

.one {
    left: -25px;
    top: -25px;
}

.two {
    right: -25px;
    top: -25px;
}

.three {
    right: -25px;
    bottom: -25px;
}

.four {
    left: -25px;
    bottom: -25px;
}
*/